*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Montserrat' !important;
    height: 100%;
    width: 100%;
    overflow: hidden;
    color: #ffffff !important;
}
.abso{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    img{
        width: 100%;
        height: auto;
        position: absolute;
        z-index: -1;
    }
    .container{
        .Timing{
           .time{
            font-size: 10rem;
            font-weight: 400;
        } 
        }
        
    }
}